li {
    list-style: none;
}

.workSpace {
    height: 85vh;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10fr 2fr;
}

.workTable {
    background-color: aliceblue;
    grid-column: 1 / 4;
}
#flowchart > div {
    max-width: 100%;
    max-height: calc(100vh - 200px);
}
.computer {
    height: 35px;
    width: 35px;
    display: grid;
    justify-content: center;
    align-content: center;
    border: solid 2px black;
    background-color: bisque;
}

.computer>img{
    height: 25px;
    width: 25px;
}

.sideBar {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.infoPanel {
    background-color: coral;
}

.infoPanel>h3 {
    margin: 10px;
    text-align: center;
}

.selectSideBarItem {
    background-color: coral;
}

.sideBarControlsMenu {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-row-gap: 10px;
}

.sideBarControlsItem {
    display: grid;
    justify-content: center;
    align-content: center;
}

.sideBarControlsItem>img {
    width: 35px;
    height: 35px;
    justify-self: right;
    margin: auto 2px;
    border: 1px solid rgb(0, 0, 0);
}

.panelOfControl {
    padding: 10px;
    display: grid;
    grid-column: 1 / 5;
    grid-template-columns: 2fr 3fr;
    border: 1px solid rgb(0, 0, 0);
}

.resourcesMenu {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-row-gap: 10px;
}

.resourcesItem {
    display: grid;
    justify-content: center;
    align-content: center;
}

.resourcesItem>img {
    width: 35px;
    height: 35px;
    justify-self: right;
    margin: auto 2px;
    border: 1px solid rgb(0, 0, 0);
}

.posibleActionsMenu {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-row-gap: 10px;
}

.posibleActionItem {
    display: grid;
    justify-content: center;
    align-content: center;
}

.posibleActionItem>img {
    width: 35px;
    height: 35px;
    justify-self: right;
    margin: auto 2px;
    border: 1px solid rgb(0, 0, 0);
}