.header {
    width: 100%;
    height: 8vh;
    background-color: rgb(144, 175, 165);
    display: grid;
    grid-template-columns: 3fr 2fr;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.logo {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-content: center;
    margin: 5px;
}

.siteName {
    justify-self: start;
    margin: auto 5px;
}

.logo>img {
    width: 35px;
    height: 35px;
    justify-self: right;
    margin: auto 2px;
}

.navBar {
    display: inline-flex;
    justify-content: flex-end;
    padding: 10px;
    margin: 5px;
}

.navItem {
    margin: auto 20px;
}

.navItem>button {
    background-color: #4CAF50;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.footer {
    height: 40px;
    display: grid;
    background-color: rgb(51, 51, 51);
    align-self: end;
    color: white;
    align-content: center;
}

.footer>h5 {
    margin-left: 20px;
    font-weight: lighter;
}